* {
    font-family: 'Cherry Bomb One';
    background: #fdf9ee !important;
    background-color: #fdf9ee !important;

}

a {
    text-decoration:none !important;
    color: #4a473d !important;
}

a:hover {
    opacity: 0.7;
    transition: opacity 0.2s, visibility 0.2s;
}

a:active {
    opacity: 1;
  }

  .rounded-custom {
    border-radius:2rem!important
}

.custom-btn {
    background: #D1EAA3 !important;
    background-color: #D1EAA3 !important;
    border-color: #52575D !important;
}